*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --panel-header-background: #202c33;
  --dark-green: #111b22;
  --message-background: #202c33;
  --own-message-background: #265d4c;
}

html {
  background-color: var(--dark-green);
}
